fastapi>=0.111.0
fastapi[standard]>=0.111.0
uvicorn[standard]>=0.29.0
google-auth>=2.29.0
requests>=2.31.0
pydantic>=2.0.0
pytest>=8.0.0
httpx2>=0.22.0
peewee>=3.17.0
python-jose[cryptography]>=3.3.0
